/**** styles for general page content ****/

.page-template-template-subpage, .page-template-template-main, .tax-rodzaj {
    .content-area {
        float: none;
        width: 100%;
        padding: 0;
        margin: 0;
    }
}

.homepage-content {
    width: 100%;
    .kahawa-hero {
        width: 100%;
        height: 100vh;
        min-height: 600px;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        position: relative;
        &::after {
            width: 100%;
            height: 100%;
            display: block;
            content: "";
            background-color: transparentize($darkgray, .55);
            position: absolute;
            top: 0;
            left: 0;
        }
        .overlay {
            width: 100%;
            height: 100%;
            background-repeat: repeat;
            opacity: .55;
        }
    }
    .kahawa-content {
        padding-top: 4rem;
    }
}

.kahawa-intro {
    text-align: center;
    width: 100%;
    padding-top: 130px;
    padding-bottom: 70px;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    @include largeScreen {
        padding-bottom: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
    .site-title, .site-subtitle {
        color: $white;
        line-height: 1;
        text-align: center;
        img {
            width: 60vw;
            margin: 0 auto;
            @include largeScreen {
                width: 25vw;
                max-width: 300px;
            }
        }
    }
    .kahawa-title {
        margin-bottom: 20px;
        img {
            max-width: 580px;
            margin: auto;
        }
    }
    .kahawa-subtitle {
        text-transform: uppercase;
        font-size: ms(1);
        color: $white;
        max-width: ms(8);
        margin: 0 auto ms(2) auto;
    }
}

body:not(.home) {
    .page-title, .subpage-title, .entry-title {
        color: $white;
    }
    .site-main {
        position: relative;
    }
    .widget-area, .content-area {
        padding-top: 40px;
        @include largeScreen {
            padding-top: 80px;
        }
    }
}
.post-type-archive-product, .single-product {
    .site-main, .widget-area {
        padding-top: 40px;
        @include largeScreen {
            padding-top: 80px;
        } 
    }
}

.subpage-title, .entry-title, .page-title {
    font-size: 2.75rem;
    @include largeScreen {
        font-size: 4.5rem;
    }
}

.title-as-link {
    color: $darkgray;
    &:hover {
        color: $linkColor;
    }
    a {
        color: $darkgray;
        &:hover {
            color: $linkColor;
        }
    }
}