/**** styles for header ****/

.site-header {
    width: 100%;
    background-color: $headerFooterColor;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    margin-bottom: 0!important;
    border: none;
    z-index: 9999;
    box-shadow: 0 0 5px 1px transparentize($gray, .5);
}

.admin-bar {
    .site-header {
        padding-top: 32px;
    }
}

.kahawa-hero {
    width: 100%;
    height: 250px;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    @include largeScreen {
        height: 380px;
    }
    &::after {
        width: 100%;
        height: 100%;
        display: block;
        content: "";
        background-color: transparentize($darkgray, .55);
        position: absolute;
        top: 0;
        left: 0;
    }
    .overlay {
        width: 100%;
        height: 100%;
        background-repeat: repeat;
        opacity: .25;
    }
    .subpage-title {
        position: absolute;
        bottom: 25px;
        color: $white;
        line-height: 1;
        @include largeScreen {
            bottom: 60px;
        }
    }
}


.kahawa-header-content {
    position: relative;
    min-height: 55px;
    padding-top: 10px;
    padding-bottom: 10px;
    @include largeScreen {
        min-height: 90px;
        padding-top: 0;
        padding-bottom: 0;
    }
    @include onlyDesktop {
        min-height: 110px;
    }
    .site-branding {
        float: left;
        margin: 5px 0 0;
        padding: 0;
        z-index: 999;
        @include largeScreen {
            float: none;
            position: absolute;
            left: ms(0);
            bottom: 15px;
            margin: 0;
            &::after {
                position: absolute;
                bottom: -15px;
                left: 80px;
                width: 60px;
                height: 110px;
                background-color: $lightAccentColor;
                display: block;
                content: "";
                z-index: -1;
            }
        }
        @include onlyDesktop {
            bottom: 15px;
            &::after {
                bottom: -15px;
                width: 80px;
            }
        }
        img {
            max-width: 100px;
            height: auto;
            margin: 0 auto;
            @include largeScreen {
                max-width: 130px;
            }
            @include onlyDesktop {
                max-width: 170px;
                margin: 0;
            }
        }
    }
    .storefront-primary-navigation {
        text-align: center;
        margin: 0;
        @include largeScreen {
            text-align: left;
            position: absolute;
            bottom: 12px;
            right: 0;
            width: 100%;
            padding: 0 0 0 230px;
            margin: 0;
            .menu {
                .menu-item {
                    line-height: 1;
                }
                .current-menu-item {
                    a {
                        color: saturate($linkColor, 15%);
                    }
                }
            }
        }
        @include onlyDesktop {
            bottom: 20px;
        }
        .main-navigation {
            float: none;
            @include largeScreen{
                width: 100%;
                margin: 0;
            }
        }
    }
}
#site-navigation {
    .menu-toggle {
        float: right;
        background-color: $secondaryColor;
        &:hover, &:active {
            background-color: $secondaryColor;

        }
    }
    &.toggled {
        .menu-toggle {
            margin-bottom: 20px;
            &::before, &::after {
                background-color: $linkColor;
            }
        }
        .handheld-navigation {
            max-height: inherit;
            background-color: transparentize($secondaryColor, .2);
            margin-bottom: 10px;
            margin-left: -1*ms(0);
            margin-right: -1*ms(0);
            > ul {
                float: none;
                text-align: center;
                .current-menu-item {
                    a {
                        color: saturate($linkColor, 15%);
                    }
                }
            }
        }
    }
    .menu {
        float: right;
        a {
            color: $fontColor;
            font-size: ms(0);
            font-weight: 700;
            @include largeScreen {
                padding: ms(1) .5rem;
            }
            @include onlyDesktop {
                padding: ms(1) ms(1);
            }
            &:hover {
                color: saturate($linkColor, 15%);
            }
        }
    }
}

header {
    .kahawa-header-cart {
        display: none;
    }
    @include largeScreen {
        .main-navigation {
            padding-right: 120px;
            position: absolute;
            left: 0;
            bottom: 0;
        }
        .kahawa-header-cart {
            @include largeScreen {
                display: block;
                position: absolute;
                right: 0;
                bottom: 0;
                margin: 0;
                .kahawa-cart-link {
                    a {
                        position: relative;
                    }
                    span {
                        font-size: .875rem;
                        line-height: 16px;
                        &::before {
                            display: inline;
                            content: "(";
                        }
                        &::after {
                            display: inline;
                            content: ")";
                        }
                    }
                }
                > li {
                    display: inline-block;
                    list-style-type: none;
                    a {
                        @include largeScreen {
                            padding: ms(1) .5rem;
                        }
                        @include onlyDesktop {
                            padding: ms(1) ms(0);
                        }
                        line-height: 1;
                        display: block;
                        &:hover {
                            color: $linkColor;
                        }
                    }
                }
            }
        }
    }
    @include onlyDesktop {
        .main-navigation {
            padding-right: 165px;
        }
    }
}