/**** styles for header ****/

.site-header {
    width: 100%;
    background-color: $secondaryColor;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    margin-bottom: 0!important;
    border: none;
    z-index: 9999;
}
.home, .page {
    .site-header {
        background-color: transparentize($secondaryColor, .4);
    }
}

.kahawa-header-content {
    position: relative;
    min-height: 70px;
    @include largeScreen {
        min-height: 130px;
    }
    .site-branding {
        float: left;
        margin: 0;
        padding: 0;
        z-index: 999;
        @include largeScreen {
            float: none;
            position: absolute;
            left: 0;
            bottom: 25px;
            margin: 0;
        }
        img {
            max-width: 130px;
            height: auto;
            margin: 0 auto;
            @include largeScreen {
                max-width: 180px;
                margin: 0;
            }
        }
    }
    .storefront-primary-navigation {
        text-align: center;
        margin-top: 20px;
        @include largeScreen {
            text-align: left;
            position: absolute;
            bottom: 25px;
            right: 0;
            width: 100%;
            padding: 0 0 0 230px;
            margin: 0;
            .menu {
                .current-menu-item {
                    a {
                        color: $gold;
                    }
                }
            }
        }
        .main-navigation {
            float: none;
            @include largeScreen{
                width: 100%;
                margin: 0;
            }
        }
    }
}

.main-navigation {
    .menu-toggle {
        float: right;
        background-color: $secondaryColor;
        &:hover, &:active {
            background-color: $secondaryColor;
        }
    }
    &.toggled {
        .handheld-navigation {
            max-height: inherit;
            background-color: transparentize($secondaryColor, .2);
            > ul {
                float: none;
                text-align: center;
                .current-menu-item {
                    a {
                        color: $gold;
                    }
                }
            }
        }
    }
    .menu {
        float: right;
        a {
            color: $fontColor;
            font-size: ms(0);
            font-weight: 700;
            padding: ms(0) ms(1);
            &:hover {
                color: $gold;
            }
        }
    }
}

.kahawa-header-cart {
    display: none;
}


.post-type-archive-product, .single-product, .woocommerce-cart, .woocommerce-account, .woocommerce-checkout, .tax-product_cat {
    @include largeScreen {
        .main-navigation {
            padding-right: 165px;
            position: absolute;
            left: 0;
            bottom: 0;
        }
        .kahawa-header-cart {
            @include largeScreen {
                display: block;
                position: absolute;
                right: 0;
                bottom: 0;
                margin: 0;
                .kahawa-cart-link {
                    position: relative;
                    span {
                        position: absolute;
                        top: 15px;
                        right: 1px;
                        width: 20px;
                        height: 20px;
                        background-color: transparentize($darkgray, .25);
                        color: $gold;
                        border-radius: 50%;
                        font-size: .875rem;
                        line-height: 1;
                        font-weight: 700;
                        padding-left: 6px;
                        padding-top: 3px;
                    }
                }
                > li {
                    display: inline-block;
                    list-style-type: none;
                    a {
                        padding: ms(1) ms(0);
                        display: block;
                        &:hover {
                            color: $gold;
                        }
                    }
                }
            }
        }
    }
}