/**** styles for single product ****/
.quantity {
    input.qty {
        padding: ms(0);
        line-height: 1;
    }
}

.coupon {
    input.input-text {
        padding: ms(0);
        line-height: 1;
    }
}

.single-product {
    .product {
        .summary {
            .product_title {
                font-size: 3rem;
            }
            .price {
                font-size: 1.25rem;
            }
        }
        .variations_form {
            
        }
    }
}