/**** styles for single product ****/
.quantity {
    input.qty {
        padding: ms(0);
        line-height: 1;
    }
}

.coupon {
    input.input-text {
        padding: ms(0);
        line-height: 1;
    }
}