.page-template-wydarzenie-archive, .single-wydarzenie {
    .content-area {
        float: none;
        width: 100%;
        padding: 0;
        margin: 0;
    }
}

.wydarzenie-tab {
    width: 100%;
    height: 100%;
    padding: ms(1);
    background-color: $white;
    .wydarzenie-title {
        padding: ms(0) 0;
        font-size: ms(1);
        text-align: center;
        margin: 0;
        &::after {
            display: block;
            content: "";
            width: 50%;
            height: 1px;
            background-color: $gray;
            margin: ms(0) auto 0;
        }
    }
    .wydarzenie-details {
        margin-bottom: ms(1);
        border-bottom: 1px solid $gray;
        .wydarzenie-date {
            font-size: 1.125rem;
            font-weight: 300;
            margin-bottom: ms(0);
        }
        .wydarzenie-short-description {
            color: $gray;
        }
        p {
            font-size: .875rem;
        }
    }
    .wydarzenie-accent {
        font-weight: 700;
    }
    .wydarzenie-link {
        text-align: right;
        font-weight: 700;
        color: $gold;
        &::after {
            display: inline-block;
            content: "";
            width: 5px;
            height: 5px;
            border-top: 1px solid $gold;
            border-right: 1px solid $gold;
            transform: rotate(45deg);
            margin-left: 5px;
        }
    }
}

.single-wydarzenie {
    .entry-details {
        margin-bottom: ms(2);
    }
    .wydarzenie-date {
        font-family: $headerFont;
        font-weight: 700;
        font-size: 1.75rem;
        margin-top: ms(1);
        margin-bottom: ms(2);
        @include largeScreen {
            margin-top: 0;
        }
    }
    .wydarzenie-short-description {
        font-size: 1.25rem;
        font-weight: 300;
        margin-bottom: 20px;
    }
    .wydarzenie-full-description {
        margin-bottom: 20px;
    }
    .entry-footer {
        margin-top: ms(2);
        margin-bottom: ms(2);
    }
    .back-link {
        font-weight: 700;
    }
}
