/**** project mixins ****/

@mixin largeScreen {
    @media (min-width: $desktop) {
        @content;
    }
}
    
@mixin smallScreen {
    @media (min-width: $handheld) {
        @content;
    }
}

@mixin onlyDesktop {
    @media (min-width: 1024px) {
        @content;
    }
}

/**** extend silent classes ****/

%cf {
    &::after {
        display: block;
        clear: both;
        content: "";
    }
}

%container-padding {
    padding: 0 ms(-1);
}

%box-sizing {
    box-sizing: border-box;
}