/**** normalize styles ****/

* {
    box-sizing: border-box;
}

html, body {
    font-family: $mainFont;
}

@for $i from 1 through 6 {
    h#{$i} {
        font-family: $headerFont;
        font-size: (4.5/$i)*1rem;
        margin-bottom: ms(0);
        color: $fontColor;
    }
}

h1, h2, h3 {
    font-weight: 700;
}

p {
    margin-bottom: ms(0);
    color: $fontColor;
}

a {
    color: $gold;
    &:hover{
        color: $darkgray;
    }
}

textarea {
    resize: none;
}

.button, button, button.menu-toggle, button.alt, .button.alt, .button, input[type="submit"].button {
    font-weight: 700;
    line-height: 1;
    padding: ms(0) ms(2);
    border-radius: 5px;
    border: 2px solid $darkgray;
    background-color: transparent;
    color: $darkgray;
    &:hover {
        background-color: transparent;
        border-color: $gold;
        color: $gold;
    }
    &-open {
        background-color: transparentize($altColor, .55);
        border: 2px solid $white;
        color: $white;
        &:hover {
            background-color: transparentize($secondaryColor, .2);
            color: $black;
            border-color: $secondaryColor;
        }
    }
}

.kahawa-row {
    margin-left: -1 * ms(-1);
    margin-right: -1 * ms(-1);
    @extend %cf;
}

.col-full {
    @extend %container-padding;
    @extend %box-sizing;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.col-half {
    @extend %container-padding;
    width: 100%;
    @include largeScreen {
        width: 50%;
        float: left;
    }
}