/**** project variables ****/

/*** modular scale ***/
$modularscale: (
    base:  1rem,
    ratio: $golden,
);

/*** susy ***/
$susy: (
  'columns': susy-repeat(4),
  'gutters': 0.1,
  'spread': 'narrow',
  'container-spread': 'narrow',
);

/*** typography ***/
$mainFont: 'Lato', sans-serif;
$headerFont: 'Open Sans Condensed', sans-serif;


/*** colors ***/

$colorOne: #7D9F99;
$colorTwo: #EDBCEF;
$colorThree: #D1ECE7;
$colorFour: #B9B091;
$colorFive: #9F9A85;


$primaryColor: #fff;
$secondaryColor: #d1ece7;
$accentColor: #F9C4CE;
$lightAccentColor: lighten($accentColor, 7%);
$headerFooterColor: transparentize(lighten($secondaryColor, 7%), .15);
$linkColor: #993D4F;
//$secondaryColor: #dfd3ad;
$altColor: #35271a;

$fontColor: #232323;

$black: #000;
$darkgray: #232323;
$white: #fff;
$gray: #9F9A85;
$wc-lightgray: #f8f8f8;
$wc-gray: #6d6d6d;
$brown: #35271a;
$gold: #CD853F;

/*** layout ***/
$desktop:			768px;
$handheld:			568px;
$container-width:	ms(18);