/**** project variables ****/

/*** modular scale ***/
$modularscale: (
    base:  1rem,
    ratio: $golden,
);

/*** susy ***/
$susy: (
  'columns': susy-repeat(4),
  'gutters': 0.1,
  'spread': 'narrow',
  'container-spread': 'narrow',
);

/*** typography ***/
$mainFont: 'Lato', sans-serif;
$headerFont: 'Open Sans Condensed', sans-serif;


/*** colors ***/
$primaryColor: #fff;
$secondaryColor: #dfd3ad;
$altColor: #35271a;
$accentColor: darken($secondaryColor, 60%);

$fontColor: #232323;

$black: #000;
$darkgray: #232323;
$white: #fff;
$gray: #838383;
$brown: #35271a;
$gold: #CD853F;

/*** layout ***/
$desktop:			768px;
$handheld:			568px;
$container-width:	ms(18);